<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="\css\screen2.css">
</head>

<body>
    <div class="image">
        <div class="rectangle">
            <form action="/student_log" method="post">

                <img class="icon" src="/images/studentLogin.svg" alt="Student">
                <div class="text">Student Login</div>
                <!-- <hr> -->
                <div class="textbox1">
                    <input type="text" name="uname2" id="uname" placeholder="Username">
                </div>
                <div class="textbox2">
                    <input type="password" name="uname2" id="uname" placeholder="Password">
                </div>
                <div class="register">Don't have an account?
                    <a href="/student_reg"> <b> Register</b></a>
                </div>
                <div class="btn" ><button type="submit">Submit</button></div>
            </form>
        </div>
    </div>

</body>

</html>